*{
    margin: 0;
    padding: 0;
}
.menu-bar {
    background-color: black;
    display: flex;
    justify-content: center;
}

.menu-items {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-items li {
    margin: 0 10px;
}

.menu-items li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.menu-items li a:hover {
    background-color: black;
    color: #189AB4;
}
.nav-bar-container{
    height: 60px;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 10;
    opacity: 0.8;
}
.nav-bar-container:hover{
    opacity: 1;
}
#left-navbar{
    background-color: black;
}
#right-navbar{
    background-color: black;
}
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

body {
    font-size: 100%;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0; }

button {
    border: none; }

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
    min-height: 100px;
    background-image: linear-gradient(to bottom right,white,white);
}

.info {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-align: center;
    max-width: 70ch;
    margin: 2em auto;
    padding: 0 1.6rem;
}

.info a {
    font-weight: 600;
    color: rgb(0, 115, 119);
}

.container {
    height: 650px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    background-image: linear-gradient(to bottom right,black,#b1b1b1);
    box-shadow: black;
    opacity: 0.85;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container wee-slider {
    margin: auto;
}

wee-slider {
    --wee-slide-align: start;
    --wee-visible-slides-mobile: 1.5;
    --wee-visible-slides-desktop: 3.5;
    --wee-visible-slides: var(--wee-visible-slides-mobile);
    --wee-slide-gap: 10px;
    --wee-navdot-color: rgb(0,0,0);
    --wee-transition: ease-in-out 200ms;
    --wee-slide-width: calc(((100% - (var(--wee-slide-gap) * (var(--wee-visible-slides) - 1))) / var(--wee-visible-slides)));
}

@media screen and (min-width: 990px) {
    wee-slider {
        --wee-visible-slides: var(--wee-visible-slides-desktop);
    }
}

wee-slider[data-align="start"] { --wee-slide-align: start; }
wee-slider[data-align="center"] { --wee-slide-align: center; }
wee-slider[data-align="end"] { --wee-slide-align: end; }

wee-slider {
    position: relative;
    width: 100%;
    display: block;
    overflow: visible;
}

wee-slider:not(.loaded) .wee-slider__buttons,
wee-slider:not(.loaded) .wee-slider__navdots {
    display: none;
}
wee-slider.loaded .wee-slider ::-webkit-scrollbar {
    display: none;
}
wee-slider.loaded .wee-slider {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

wee-slider .wee-slider {
    position: relative;
    overflow: hidden;
}

wee-slider .wee-slider__slides {
    display: flex;
    gap: var(--wee-slide-gap);
    padding: 0;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

wee-slider .wee-slider__slide {
    display: block;
    min-width: var(--wee-slide-width);
    background: pink;
    scroll-snap-align: var(--wee-slide-align);
    scroll-margin-left: 0;
    scroll-margin-right: 0;
}

wee-slider .wee-slider__buttons button {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
}

wee-slider .wee-slider__buttons button:not([disabled]) {
    cursor: pointer;
}

wee-slider[data-buttons-on-hover="true"] .wee-slider__buttons {
    opacity: 0;
    transition: opacity ease-in-out 200ms;
}

@media (hover: hover) {
    wee-slider[data-buttons-on-hover="true"]:hover .wee-slider__buttons {
        opacity: 1;
    }
}

wee-slider .wee-slider__button-next {
    right: 0;
}

wee-slider .wee-slider__navdots {
    padding-left: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

wee-slider .wee-slider__navdot {
    position: relative;
    display: block;
    padding: 10px;
}

wee-slider .wee-slider__navdot:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 8px;
    width: 8px;
    background: var(--wee-navdot-color);
    border-radius: 50%;
}

wee-slider .wee-slider__navdot:hover:after {
    scale: 1.2;
}

wee-slider .wee-slider__navdot:not(.visible) {
    opacity: 0.5;
    cursor: pointer;
}

/* DEMO CSS */

wee-slider .wee-slider__slide {
    height: auto;
    background: none;
    opacity: 1;
}

wee-slider .slide-content {
    position: relative;
    height: 0;
    padding-bottom: 80%;
}

wee-slider .slide-content > img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity ease-in-out 80ms;
}

wee-slider.loaded .wee-slider__slide:not(.visible) img {
    opacity: 0.5;
}

wee-slider .wee-slider__buttons button {
    margin: 0 10px;
    border: none;
    font-size: 0;
    background: rgba(0, 0, 0, 0.4);
    padding: 24px;
    border-radius: 50%;
    transition: scale ease 100ms;
}

@media (hover: hover) {
    wee-slider .wee-slider__buttons button:hover {
        scale: 1.1;
    }
}

wee-slider .wee-slider__buttons button:before {
    content: url("data:image/svg+xml,%3Csvg style='color: white' xmlns='http://www.w3.org/2000/svg' fill='currentColor' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z' fill='white'%3E%3C/path%3E%3C/svg%3E");
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: auto;
}

.wee-slider__button-prev:before {
    translate: -60% -50%;
    rotate: 90deg;
}

.wee-slider__button-next:before {
    translate: -40% -50%;
    rotate: 270deg;
}

.div-foot{
    height: 220px;
    width: 45px;
    display: flex;
    opacity: 0.5;
}
.div-safety{
    height: 485px;
    width: 100%;
    background-image: linear-gradient(to bottom right,black,grey);
    color: white;
    display: flex;
    opacity: 0.85;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer{
    height: 380px;
    width: 100%;
    background-image: linear-gradient(to bottom right,black,grey);
    opacity: 0.85;
    display: flex;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer-part{
    width: 33%;
    height: 400px;
    opacity: 0.85;
    color: white;
}
.div-trips{
    display: flex;
    height: 650px;
    width: 100%;
    background-image: linear-gradient(to bottom right,black,grey);
    opacity: 0.85;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.details{
    width: 100%;
    height: 230px;
    color: white;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    font-family: 'Karla', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
}
.para-details{
    text-align: center;
    padding: 20px 60px 10px 60px;
}
.div-part-trips{
    width: 25%;
    height: 535px;
}

.div-part-accommodations{
    width: 25%;
    height: 500px;
    opacity: 0.85;
    text-decoration: white;

}

div.polaroid {
    margin: 50px 0 25px 0;
    width: 68%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

div.img-container {
    text-align: center;
    padding: 10px 20px;
    height: 45px;
    background-color: #189AB4;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
div.img-container:hover{
    background-color: #D8581C;
    color: black;
}
.acco-img:hover{
    opacity: 0.5;

}

.acco-img{
    height:200px;
    width: 250px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.sample-accommodations{
    height: 267px;
}


.div-accommodations{
    display: flex;
    height: 650px;
    width: 100%;
    background-image: linear-gradient(to bottom right,black,grey);
    opacity: 0.85;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.div-about-us{
    display: flex;
    height: 500px;
    width: 100%;
    background-image: linear-gradient(to bottom right,black,grey);
    opacity: 0.85;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.div-aboutus-parts{
    width: 50%;
    height: 600px;
    color: white;
}
.img-site{
    width: 490px;
    height: 490px;
}
.div-text-traveguideSrilanka{
    margin: 40px 0 0 0;
    height: 150px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
}
.div-aboutus-details{
    margin: 0 75px 0 0;
    height: 450px;
    align-items: center;
    justify-content: center;
}
.div-comment-and-reviews{
    display: flex;
    height: 400px;
    background-image: linear-gradient(to bottom right,black,grey);
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0.85;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.comment{
    width: 25%;
    height: 200px;
}
.para-comments{
    padding: 20px 20px 20px 20px;
    text-align: center;
}
.div-comment-form-area{
    height: 200px;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0.65;
    padding: 0 0 0 20px;
}
.form-label{
    width: 500px;
}
.txt-Your-Name{
    width: 500px;
}
.txt-Your-Comment{
    width: 500px;

}
.btn-submit-comment{
    height: 50px;
    width: 150px;
    margin: 25px 0 0 0;
    background-color: #05445E;
    color: white;
}
.btn-submit-comment:hover{
    background-color: #75E6DA;
    color: black;
}
.safety-left{
    width: 30%;
}
.safety-right{
    width: 70%;
}
.img-safety{
    margin: 50px 0 0 0;
    height: 400px;
    width: 400px;
}
ul{
    margin: 60px;
    padding: 10px;
}
.paraone-safety{
    margin: 50px 0 0 0;
}
.h1-safety-first{
    padding: 20px 0 20px 0;
    text-align: center;
    color: black;
    font-family: 'Roboto Slab', serif;
    opacity: 1;
    font-weight: 3500;
    -webkit-text-stroke: 0.1px white;
}
.h1-safety-first:hover{
    font-size: 40px;
}
.h1-comments-and-reviews{
    padding: 20px 0 20px 0;
    text-align: center;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-weight: 3500;
    -webkit-text-stroke: 0.1px white;
    opacity: 1;
}
.h1-comments-and-reviews:hover{
    font-size: 40px;
}

.h1-accommodations{
    padding: 20px 0 20px 0;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    opacity: 1;
    color: black;
    font-weight: 3500;
    -webkit-text-stroke: 0.10px white;
}
.h1-accommodations:hover{
    font-size: 40px;
}
.h1-aboutus{
    padding: 20px 0 20px 0;
    text-align: center;
    color: black;
    font-family: 'Roboto Slab', serif;
    opacity: 1;
    font-weight: 3500;
    -webkit-text-stroke: 0.10px white;
}
.h1-aboutus:hover{
    font-size: 40px;
}
.h1-trips{
    padding: 20px 0 20px 0;
    text-align: center;
    color: black;
    font-weight: 3500;
    font-family: 'Roboto Slab', serif;
    opacity: 1;
    -webkit-text-stroke: 0.10px white;

}
.h1-trips:hover{
    font-size: 40px;
}
.h1-slogan{
    padding: 20px 0 20px 0;
    text-align: center;
    color: white;
    background-color: #189AB4;
    font-family: 'Roboto Slab', serif;
    text-decoration: black;
    opacity: 0.85;
}
.menu-bar{
    position: sticky;
}
.nav-bar-container{
    position: sticky;
}
.nav-bar-container{
    display: flex;
    background-color: #05445E;
}
.nav-bar-parts{
    width: 50%;
}
.empty-space{
    width: 19%;
}
.empty-space-two{
    width: 8%;
}
#bg{
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -10;
}
#bg-img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    z-index: -9;
}
.div-seemore{
    align-items: end;
}
.btn-seemore{
    height: 50px;
    width: 120px;
    margin: 25px 0 0 0;
    background-color: #D8581C;
    color: white;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-seemore:hover{
    background-color: white;
    color: black;
}
.button-div{
    display: flex;
}
.empty{
    width: 25%;
}
.div-seemore{
    width: 15%;
}

/* Code by TeamSakers.Com */
html {
    scroll-behavior: smooth;
}

section {
    text-align: justify;
    padding: 0 2em 2em;
}

h1 {
    text-align: center;
    font-family: roboto;
    font-weight: 400;
    font-size: 35px;
    color: white;
    margin: 40px;
}

footer {
    background-color: black;
    padding: 3em 4em 2em;
    width: 100%;
}
footer .row {
    margin: 2em 0;
    font-family: lato;
    color: #fff;
    position: relative;
    border-bottom: 1px solid #cecece;
    width: 100%;
}

.footer-toggle {
    display: none;
}

.link-cat {
    cursor:pointer;
}

footer ul {
    padding:0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

footer ul li {
    list-style-type: none;
    padding:0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    line-height: 2;
}

footer .footer-cat, #newsletter span {
    font-size: 20px;
}

.footer-cat-links a {
    color: #cecece;
    text-decoration: none;
    position: relative;
}

.footer-cat-links.active > li a {
    pointer-events: auto;
}

.footer-cat-links a:after {
    top: 21px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    width: 0;
    background: #fff;

    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.footer-cat-links a:hover:after, .footer-cat-links a:focus:after {
    width: 100%;
    left: 0;
}


.col-3 {
    display: inline-table;
    width:25%;
}


#copyright {
    text-align: center;
    color:#fff;
    font-family: lato;
}

#owner {
    text-align: center;
    padding: 20px 0 0px;
    color: #fff;
    font-family: lato;
}

#owner a {
    color:#fff;
}

/* iPads to Smartphone for Common Elements ----------- */
@media only screen and (max-width : 1024px) {

    .col-3 {
        display: block;
        width: 100%;
        padding-bottom: 1em;
        position: relative;
    }

    footer .footer-cat {
        margin-left: 25px;
    }

    .footer-toggle,.footer-toggle::after {
        background: #fff;
        height: 2px;
        width: 15px;
        position: absolute;
        display: block;
        -webkit-transition:all .4s ease-in;
        transition:all .4s ease-in;
    }

    .footer-toggle {
        top: 11px;
        cursor:pointer;
    }

    .footer-toggle::after {
        content: '';
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }


    .footer-cat-links {
        margin: 0 0em 0px 1.6em;
    }

    .footer-cat-links a {
        pointer-events: none;
    }

    .footer-cat-links li {
        line-height: 0;
        opacity: 0;
    }

    .footer-cat-links.active > li{
        line-height:2;
        opacity:1;
    }

}

/* iPads (portrait)----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {

    footer {
        padding-right:3em;
        padding-left:3em;
    }

    .col-3 {
        display: block;
        width: 100%;
        padding-bottom: 1em;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {

    section {
        padding-bottom: 3em;
    }

    .sec-heading {
        padding:1em 0;
    }

    .col-3 {
        display: block;
        width: 100%;
        padding-bottom: 1em;
    }
}

/* Mini Tablet ----------- */
@media only screen and (max-width : 600px) {

    .col-3 {
        display: block;
        width: 100%;
        padding-bottom: 1em;
    }

    .col-6 {
        width: 100%;
        display: block;
    }

    footer {
        padding: 3em 2em 2em;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {

    .col-6 {
        width: 100%;
        display: block;
    }

    footer {
        padding-right: 1em;
        padding-left: 1em;
    }
}
.img-site-logo{
    width: 200px;
    heigth: 140px
}
.img-site-logo-nav{
    width: 60px;
    height: 60px;
    border: 1px solid black;
}
.img-site-logo-nav:hover{
    cursor:pointer;
}
.img-site-logo:hover{
    cursor:pointer;
}


.reveal {
    position: relative;
    opacity: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");


.reveal.active {
    opacity: 1;
}
.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}
.active.fade-left {
    animation: fade-left 1s ease-in;
}
.active.fade-right {
    animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}



